.meme {
  width: 30%;
  height: auto;
  padding-top: 50px;
  padding-bottom: 0px;
  text-align: center;
}

.memeButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto 0 auto;
}

button {
  border-radius: 5px;
  padding: 10px 50px;
}

.btn-upvote {
  background-color: #90EE90!important;
}

.btn-downvote {
  background-color: #DC143C!important;
}